<p class="pull-right">
    <br/>
    <button class="btn btn-warning" type="button" onclick="window.open('/Product/ListCart', '_self')">
        Cart <span class="badge" id="Cart_Amount">@Model</span>
    </button>
</p>
